<div class="container">

  <!-- Top Section of Products Details -->
  <div class="TopContainer ms-5">
    <h3 class="font-weight-bold">Manual Repricing</h3>
  </div>

  <!-- Button and Toggles -->
  <!-- <div class="Button ms-5 mt-4 dropdown ">
    <button class="btn btn-primary btn-md" data-bs-toggle="collapse" data-bs-target="#FiltersCollapse"
      aria-expanded="false" style="border-radius: 20px;" aria-controls="FiltersCollapse">
      + Add Filters
    </button>
  </div> -->

  <!-- DropDown Menu -->
  <!-- <div class="collapse collapseDiv ms-5 mt-2 shadow-lg" id="FiltersCollapse">
    <div class="card card-body CardBodySection"> -->
      <!-- Drop Down for Filters -->
      <!-- <form>

        <div class="divText row">
          <div class="col-lg-12">
            <select class="form-select" aria-label="OptionSelection">
              <option selected>Select your option</option>
              <option value="1">Product Name</option>
              <option value="2">Cost Price</option>
              <option value="3">My Price</option>
              <option value="4">Favourite</option>
              <option value="5">EAN/Barcode</option>
              <option value="6">Competitors Price</option>
              <option value="7">Shipping</option>
              <option value="8">My Stock</option>
              <option value="9">Position</option>
              <option value="10">Date of Creation</option>
            </select>
          </div>
        </div>

        <div class="divText row mt-3">
          <div class="col-lg-6">
            <select class="form-select" aria-label="OptionSelection">
              <option selected>Option</option>
              <option value="1">Contains</option>
              <option value="2">Starts With</option>
              <option value="3">Ends With</option>
              <option value="4">Matches Exactly</option>
              <option value="5">Empty</option>
              <option value="6">Not Empty</option>
            </select>
          </div>
          <div class="col-lg-6">
            <select class="form-select" aria-label="OptionSelection">
              <option selected>Selection</option>
              <option value="1">1</option>
              <option value="2">2</option>
            </select>
          </div>
        </div>

        <div class="mt-3">
          <button type="submit" class="btn btn-primary-form FormBtn">Apply</button>
        </div>
      </form>
    </div>
  </div> -->

  <div class="  d-flex justify-content-center align-items-center Button ms-5 mt-5">

    <p class="Text mt-2 me-2 ms-5 ">Items per page</p>

    <button class="btn btn-primary  btn-md me-5" style="border-radius: 20px;">
      {{mitems}}
    </button>

  

  </div>

  <ng-template #loading>
    <iframe class="d-flex flex-row justify-content-center" style="margin-left: 45%; margin-top: 15%; width: 100%; height: 20vh;"
      src="../../assets//Iphone-spinner-2.gif"></iframe>
  </ng-template>

  <!-- Table Data -->
  <div class="TableDiv ms-5 me-5 mt-3">
    <div class="form-group">
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
  </div>
  <div *ngIf="listproducts; else loading">
    <div *ngIf="listproducts.length > 0; else load">
    <table class="table tableStyle table-borderless table-sm">
      <thead>
        <tr>
          <th scope="col">
            <div class="rowauto" data-toggle="buttons">
              <input type="checkbox" id="checkboxAll" class="mt-2" name="selectall" autocomplete="on">
            </div>
          </th>
          <th scope="col">Product Name</th>
          <th scope="col">ID/SKU</th>
          <!-- <th scope="col">Cost Price</th> -->
          <th scope="col">My Price</th>
          <!-- <th scope="col">Shipping Cost</th> -->
          <th scope="col">Stock</th>
          <!-- <th scope="col">Gross Profit</th>
          <th scope="col">Gross Profit Ratio</th> -->
          <!-- <th scope="col">Position</th> -->
          <th scope="col">Suggested Price</th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let products of listproducts  | filter:searchText">
          <th scope="row">
            <div data-toggle="buttons">
              <input type="checkbox" id="checkbox1" class="chkboxname mt-2 " name="check_1">
            </div>
          </th>
          <td>
            <div class="float-start me-3 zoom shadow-lg">
              <!-- Product Image -->
              <a href="{{products.ProductData.Product_Link}}" target="_blank">
                <img src="{{products.ProductData.Product_Image}}" class="float-start" width="35" height="35">
              </a>
            </div>
            <p class="float-start">{{products.ProductData.PRODUCT_NAME}}</p>
          </td>
          <td *ngIf=" products.ProductData.Product_ID === '' ">NULL</td>
          <td *ngIf=" products.ProductData.Product_ID != '' ">{{products.ProductData.Product_ID}}</td>
          <!-- <td>-</td> -->
          <td>${{products.ProductData.Product_Price}}</td>
          <!-- <td>-</td> -->
          <td>{{products.ProductData.Product_Stock}}</td>
          <!-- <td>-</td>
          <td>-</td>
          <td>Undefined</td> -->
          <td> Suggested Price</td>
          <span class="badge bg-success mt-2 "><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check" viewBox="0 0 16 16">
            <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
          </svg></span>
          <span class="badge bg-danger ml-2"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
          </svg></span> 
        
          <td>
            <!-- <button class="btn btn-primary btn-sm tablebtn mt-1" style="border-radius: 20px;">
              Enable Monitoring
            </button> -->
            <button class="btn btn-primary btn-sm tablebtn mt-1" style="border-radius: 20px;" data-bs-toggle="modal"
              data-bs-target="#staticBackdrop1" (click)="CompDetail(products)">
              See Competitors
            </button>
          </td>
          <td>
            <button class="btn btn-sm btntable float-end" routerLink="/home/productdetails"
              (click)="ProductDetails(products)">
              <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M11 0C4.928 0 0 4.928 0 11C0 17.072 4.928 22 11 22C17.072 22 22 17.072 22 11C22 4.928 17.072 0 11 0ZM12.1 16.5H9.9V9.9H12.1V16.5ZM12.1 7.7H9.9V5.5H12.1V7.7Z"
                  fill="#184777" />
              </svg>

            </button>
          </td>
          <!-- <td>
            <button class="btn btn-sm btntable float-end">
              <svg width="25" height="20" viewBox="0 0 25 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.25 15H21.25V17.5H16.25V15ZM16.25 5H25V7.5H16.25V5ZM16.25 10H23.75V12.5H16.25V10ZM1.25 17.5C1.25 18.875 2.375 20 3.75 20H11.25C12.625 20 13.75 18.875 13.75 17.5V5H1.25V17.5ZM15 1.25H11.25L10 0H5L3.75 1.25H0V3.75H15V1.25Z"
                  fill="#184777" />
              </svg>


            </button>
          </td> -->
        </tr>

      
      </tbody>
    </table>
    </div>
    </div>

    <ng-template #load>
      <div class="down">
        <table class="table tableStyle table-borderless table-sm">
          <thead>
            <tr>
              <th scope="col">
                <div class="rowauto" data-toggle="buttons">
                  <input type="checkbox" id="checkboxAll" class="mt-2" name="selectall" autocomplete="on">
                </div>
              </th>
              <th scope="col">Product Name</th>
              <th scope="col">ID/SKU</th>
              <th scope="col">Cost Price</th>
              <th scope="col">My Price</th>
              <th scope="col">Shipping Cost</th>
              <th scope="col">Stock</th>
              <th scope="col">Gross Profit</th>
              <th scope="col">Gross Profit Ratio</th>
              <th scope="col">Position</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
        </table>
        <h3 style="text-align: center;">List is empty</h3>
      </div>
    </ng-template>
  </div>

  <!-- Modal -->
  <div class="modal fade shadow-lg" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <div class="modal-content shadow-lg">
        <div class="modal-header">
          <div style="border: solid 2px #184777; border-radius: 8px; height: 120px; width: 120px;"
            class="float-start d-flex justify-content-center align-items-center">
            <img src="{{products?.ProductData?.Product_Image}}" class="float-start" width="118" height="72">
          </div>
          <div class="float-start mt-2 divTextt DivProductModal">
            <h3>{{products?.ProductData?.PRODUCT_NAME}}</h3>
            <p class="headerfont"><b>Category</b>: {{products?.ProductData?.Categories}}</p>
            <p class="headerfont"><b>Brand</b>: {{products?.ProductData?.Brands}}</p>
          </div>

          <button type="button" class="btn modelbtn float-end " data-bs-dismiss="modal" aria-label="Close">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x-circle"
              viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
              <path
                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
          </button>
        </div>

        <div class="modal-body">
          <div class="divText ms-4 mb-3">
            <h5>
              <b>Competitor Suggestions</b>
            </h5>
          </div>
          <!-- competitors data start -->
          <!-- Table Data -->
          <div class="TableDiv ms-5 me-5 mt-3">
            <table class="table tableStyle table-borderless table-sm">
              <thead>
                <tr>
                  <th scope="col">Competitors</th>
                  <th scope="col">Store Links</th>
                  <th scope="col">Product Price</th>
                  <th scope="col">Delivery Price</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let competitor of CompetitorData">
                  <td>{{competitor.Competitor_Store}}</td>
                  <td><a class="btn btn-primary" target="_blank" href="{{competitor.Competitor_Store_Link}}">Open Link</a>
                  </td>
                  <td>{{competitor.Competitor_Product_Price}}</td>
                  <td>{{competitor.Competitor_product_delivery}}</td>
                </tr>
              </tbody>
            </table>
            <form>
              <div class="mb-3 divText row  mt-3 ">

                <div class="col-lg-4">
                  <label for="NewPrice" class="form-label">Enter New Price</label>
                  <input type="number" class="form-control" id="NewPrice" aria-describedby="number" placeholder="$"
                    [formControl]="newPrice">
                </div>
                <div class="col-lg-4"></div>
                <div class="col-lg-4 " >
                  <label for="OldPrice" class="form-label ">Old Price</label>
                  <p type="number" class="form-control" id="OldPrice">
                    ${{products?.ProductData?.Product_Price}}</p>
                </div>

              </div>



              <!-- Competitor Suggestions Div -->


              <!-- Competitor Suggestions Div -->

              <div class="d-flex justify-content-center align-items-center mt-4">
                <button type="submit" class="btn btn-primary-form d-flex justify-content-center align-items-center"
                  (click)="updatePrice(products)"><b>Submit</b></button>
              </div>
            </form>
          </div>

        </div>
        <!-- competitors data end -->




      </div>
    </div>
  </div>

</div>
