<div class="container">

  <!-- Top Section of Products -->
  <div class="TopContainer ms-5 mb-5">
    <h3 class="font-weight-bold">WooCommerce Integration</h3>
  </div>

  <!-- Form in Div -->
  <div class="TableDiv ms-5 me-5 mt-3 shadow-lg">

    <form class="ms-5 me-5 mt-3 mb-4">
      <div class="mb-3">
        <label for="URL" class="form-label">URL</label>
        <input type="url" class="form-control" id="url" aria-describedby="url">
      </div>

      <div class="mb-3">
        <label for="consumerkey" class="form-label">Consumer Key</label>
        <input type="text" class="form-control" id="consumerkey">
      </div>

      <div class="mb-4">
        <label for="consumersecret" class="form-label">Consumer Secret</label>
        <input type="text" class="form-control" id="consumersecret">
      </div>

      <button class="btn btn-danger DangerBtn me-3" routerLink="/home/integrations">Cancel</button>
      <button type="submit" class="btn btn-primary saveBtn">Save</button>
    </form>

  </div>

</div>
