<div class="container">

  <!-- Top Section of Products -->
  <div class="TopContainer ms-5">
    <h3 class="font-weight-bold">Competitors</h3>
  </div>


  <button class="btn btn-primary btn-md float-end me-5 mt-3" style="border-radius: 20px;" (click)="results()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
      <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
      <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
    </svg> Export to CSV
  </button>

  <!-- Button and Toggles -->

    <!-- <button class="btn btn-primary btn-md dropdown-toggle float-start" style="border-radius: 20px;">
      + Add Filters
    </button> -->
    

    
  

  <div class="  d-flex justify-content-center align-items-center Button ms-5 mt-5">


  <p class="Text mt-2 me-2 ms-5 ">Items per page</p>

    <button class="btn btn-primary  btn-md me-5" style="border-radius: 20px;">
      {{items}}
    </button>
  </div>

  <ng-template #loading>
    <iframe class="d-flex flex-row justify-content-center" style="margin-left: 45%; margin-top: 15%; width: 100%; height: 20vh;"
      src="../../assets//Iphone-spinner-2.gif"></iframe>
  </ng-template>
  

  <!-- Table Data -->
  <div class="TableDiv ms-5 me-5 mt-3">
    <div class="form-group" >
      <input type="text" class="form-control" placeholder="Search Here" [(ngModel)]="searchText">
  </div>
    <div *ngIf="CompetitorData; else loading">
      <div *ngIf="CompetitorData.length > 0; else load">
    <table class="table tableStyle table-borderless table-sm">
      <thead>
        <tr>
          <th scope="col">Competitors</th>
          <th scope="col">Store Links</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let products of CompetitorData | filter:searchText">
           <!-- <th scope="row" > 
            <div class="mb-1">
              <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.8332 8.00996L14.044 7.33829L10.9998 0.166626L7.95567 7.34913L0.166504 8.00996L6.0815 13.1341L4.30484 20.75L10.9998 16.7091L17.6948 20.75L15.929 13.1341L21.8332 8.00996ZM10.9998 14.6833L6.9265 17.1425L8.00984 12.5058L4.41317 9.38579L9.15817 8.97413L10.9998 4.60829L12.8523 8.98496L17.5973 9.39663L14.0007 12.5166L15.084 17.1533L10.9998 14.6833Z"
                  fill="#184777" />
              </svg>
            </div>
          </th>  -->
          <td>{{products.Competitor_Store}}</td>
          <td><a class="btn btn-primary" target="_blank" 
            href="{{products.Competitor_Store_Link}}">Open Link</a></td>
        </tr>
        <!-- <tr>
          <th scope="row">
            <div class="mb-1">
              <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.8332 8.00996L14.044 7.33829L10.9998 0.166626L7.95567 7.34913L0.166504 8.00996L6.0815 13.1341L4.30484 20.75L10.9998 16.7091L17.6948 20.75L15.929 13.1341L21.8332 8.00996ZM10.9998 14.6833L6.9265 17.1425L8.00984 12.5058L4.41317 9.38579L9.15817 8.97413L10.9998 4.60829L12.8523 8.98496L17.5973 9.39663L14.0007 12.5166L15.084 17.1533L10.9998 14.6833Z"
                  fill="#184777" />
              </svg>
            </div>
          </th>
          <td class="firstCol">AllBuy.dk</td>
          <td>11</td>
          <td>0</td>
          <td>4</td>
        </tr>
        <tr>
          <th scope="row">
            <div class="mb-1">
              <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.8332 8.00996L14.044 7.33829L10.9998 0.166626L7.95567 7.34913L0.166504 8.00996L6.0815 13.1341L4.30484 20.75L10.9998 16.7091L17.6948 20.75L15.929 13.1341L21.8332 8.00996ZM10.9998 14.6833L6.9265 17.1425L8.00984 12.5058L4.41317 9.38579L9.15817 8.97413L10.9998 4.60829L12.8523 8.98496L17.5973 9.39663L14.0007 12.5166L15.084 17.1533L10.9998 14.6833Z"
                  fill="#184777" />
              </svg>
            </div>
          </th>
          <td class="firstCol">Altanliv.dk</td>
          <td>4</td>
          <td>0</td>
          <td>2</td>
        </tr>
        <tr>
          <th scope="row">
            <div class="mb-1">
              <svg width="22" height="21" viewBox="0 0 22 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.8332 8.00996L14.044 7.33829L10.9998 0.166626L7.95567 7.34913L0.166504 8.00996L6.0815 13.1341L4.30484 20.75L10.9998 16.7091L17.6948 20.75L15.929 13.1341L21.8332 8.00996ZM10.9998 14.6833L6.9265 17.1425L8.00984 12.5058L4.41317 9.38579L9.15817 8.97413L10.9998 4.60829L12.8523 8.98496L17.5973 9.39663L14.0007 12.5166L15.084 17.1533L10.9998 14.6833Z"
                  fill="#184777" />
              </svg>
            </div>
          </th>
          <td class="firstCol">Altomindretning.dk</td>
          <td>1</td>
          <td>0</td>
          <td>0</td>
        </tr> -->
      </tbody>
    </table>
    </div>
    </div>

    <ng-template #load>
      <div class="down">
        <table class="table tableStyle table-borderless table-sm">
          <thead>
            <tr>
              <th scope="col">Competitors</th>
              <th scope="col">Store Links</th>
            </tr>
          </thead>
        </table>
        <h3 style="text-align: center;">List is empty</h3>
      </div>
    </ng-template>
  </div>

</div>