<nav class="navbar navbar-light" style="height: 10vh" xmlns:a="http://www.w3.org/1999/html">
    <div class="container-fluid flex-row flex-nowrap justify-content-end mt-4">
  
      <!-- <form class="d-flex">
        <input class="form-control me-2" id="search" style="width: 92%; border-radius: 20px; " type="input"
          placeholder="Search" aria-label="Search" list="brows" autocomplete="off">
  
        <div class="d-flex aligns-items-center justify-content-center shadow-lg"
          style="background-color: #184777; border-radius: 45px; align-items: center; margin-left: -40px; height: 40px; width: 40px;">
  
          <button class="img-thumbnail grow" type="button" id="dropdownMenuButton1"
            style="border: none; border-radius: 100%; background-color: #184777;" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../assets/Search Icon.svg" style="width: 20px; height: 20px;">
          </button>
        </div>
      </form> -->
  
      <div class="d-flex aligns-items-center justify-content-center shadow-lg"
        style="background-color: white; border-radius: 45px; align-items: center; height: 40px; width: 40px; box-shadow: black; margin-right: 10px;">
  
        <button class="img-thumbnail grow" type="button" id="dropdownMenuButton1"
          style="border: none; border-radius: 50%;" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../assets/Add Shop Blue.svg" style="width: 20px; height: 20px;">
        </button>
      </div>
  
      <div class="d-flex aligns-items-center justify-content-center shadow-lg"
        style="background-color: white; border-radius: 45px; align-items: center; height: 40px; width: 40px; box-shadow: black; margin-right: 10px;">
  
        <button class="img-thumbnail grow" type="button" id="dropdownMenuButton1"
          style="border: none; border-radius: 50%;" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../assets/Notification Blue.svg" style="width: 20px; height: 20px;">
        </button>
      </div>
  
      <div
        class="dropdown d-flex aligns-items-center justify-content-center d-flex aligns-items-center justify-content-center shadow-lg"
        style="background-color: white; border-radius: 45px; align-items: center; height: 40px; width: 40px; box-shadow: black; margin-right: 35px;">
        <!-- <img src="../../assets/Profile Icon Blue.svg" style="width: 20px; height: 20px;"> -->
  
        <button class="img-thumbnail grow" type="button" id="dropdownMenuButton1"
          style="border: none; border-radius: 50%;" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../assets/Profile Icon Blue.svg" alt="" style="width: 20px; height: 20px;">
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/home/myaccount">View Profile</a></li>
          <li><a class="dropdown-item">Contact Us</a></li>
          <li><a class="dropdown-item" role="button"  [routerLinkActive]="['active']" (click)="logOut()">Log Out</a></li>
        </ul>
      </div>
  
      <!-- <div class="dropdown d-flex aligns-items-center justify-content-center"
        style="background-color: white; border-radius: 100px; align-items: center; height: 40px; width: 40px;">
        <button class="img-thumbnail grow" type="button" id="dropdownMenuButton1" style="border: 70%;"
          data-bs-toggle="dropdown" aria-expanded="false">
          <img src="../../assets/Profile Icon Blue.svg" alt="" style="width: 20px; height: 20px;">
          <img alt="" style="width: 40px; height: 40px; border-radius: 50%">
        </button>
        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="agent" >View Profile</a></li>
          <li><a class="dropdown-item">Contact Us</a></li>
          <li><a class="dropdown-item" role="button">Log Out</a></li>
        </ul>
      </div> -->
    </div>
  </nav>