.img-thumbnail:hover {
    /* opacity: 0.5; */
    transition: opacity 200ms ease-in;
  }
  
  ul {
    z-index: 9999;
    position: absolute;
    background-color: white;
    margin-top: 40px;
    list-style: none;
    width: 63%;
    line-height: 30px;
    /*display: none;*/
  }
  
  /*input:focus ul{*/
  /*  display: block;*/
  /*}*/
  
  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #8897C8;
    opacity: 1;
    /* Firefox */
  }
  
  .grow:hover {
    transform: scale(1.2);
    transition: all .6s ease-in-out;
  }
  