.TopContainer {
  margin-top: -40px;
}



.btn {
  background-color: #DEEBF9;
  color: #124274;
}

.tablebtn {
  background-color: #C7DEF5 !important;
  font-size: 90%;
}

.divText {
  color: #184777;
  margin-right: 35%;
}

.modelbtn {
  background-color: #E9F2FC;
  margin-top: -86px;
}

.tablebtn:hover {
  background-color: #184777 !important;
}

.btntable {
  background-color: #EDF5FF !important;
}

.tablebtnSecondary {
  background-color: #4A82BC !important;
  color: white;
  font-size: 90%;
}

.tablebtnSecondary:hover {
  color: #184777 !important;
  background-color: #C7DEF5 !important;
}

td,
tr {
  text-align: center;
  border-bottom: solid 2px #C7DEF5;
  /* font-size: 90%; */
}

p {
  color: #184777;
}

.TableDiv {
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  font-size: 80%;
  height: 65vh;
  overflow: auto;
}

.tableStyle {
  background-color: #EDF5FF;
  border-radius: 10px;
  font-size: 90%;
}

table th:first-child {
  border-radius: 10px 0 0 0;
}

table th:last-child {
  border-radius: 0 10px 0 0;
}

table th {
  color: #124274;
}

thead {
  background-color: #C7DEF5;
}

.CardBodySection {
  background-color: #E5EEF8;
  border-radius: 9px;
}

.form-select {
  border-radius: 30px;
  background-color: #D7E8FB;
  border: 1px solid #184777;
}

.collapseDiv {
  width: 20%;
  border-radius: 9px;
  position: fixed;
}

.DropDiv {
  width: 15%;
  border-radius: 9px;
  margin-left: 9%;
  position: fixed;

}

.FormBtn {
  border-radius: 24px;
  background-color: #124274 !important;
  color: white;
  width: 35% !important;
}

.zoom {
  transition: transform .2s;
  /* Animation */
  margin: 0 auto;
}

.zoom:hover {
  transform: scale(1.4);
}
