<div class="container">

  <!-- Top Section of Add Rules -->
  <div class="TopContainer ms-5">
    <h4 class="font-weight-bold">Add Rules</h4>
  </div>

  <!-- Button and Toggles -->
  <div class="Button ms-5 mt-5">

    <button class="btn btn-primary btn-md col-1" routerLink="/home/settings" style="border-radius: 20px;">
      Back
    </button>

  </div>
  <form action=""  [formGroup]="form">

  <div class="TableDiv ms-5 me-5 mt-3 shadow-lg">

    <div class="row ms-2">

      <div class="col-lg-3 mt-3">
        <h6 class="font-weight-bold">General</h6>
      </div>

      <div class="col-lg-6 mt-3">
        <div class="mb-3">
          <label for="Rule Title" class="form-label">Rule Title</label>
          <input type="rule" name="rule" formControlName="rule" class="form-control" id="rule" aria-describedby="url">
        </div>
        <div class="mb-3">
          <p>Priority (bigger value will match first)</p>
          <input type="value" name="priority" formControlName="priority" class="form-control length" id="value" value="50"
            aria-describedby="url">
        </div>
       
      </div>

    </div>

    <div class="row ms-2">

      <div class="col-lg-3 mt-3">
        <h6 class="font-weight-bold">Price Changes</h6>
      </div>

      <div class="col-lg-3 mt-3">
        <p style="font-family: italic;">Suggestion</p>
        <button class="SettingsBtn"  data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><b>Change Settings</b></button>

    <!--  -->
    <div class="collapse" id="collapseExample">
      <div class="card card-body" style="width: 310%;">
        <div class="form-check">
          <input class="form-check-input" type="radio"  id="flexRadioDefault1" [value]='false' name="setting_flag" formControlName="setting_flag">
          <label class="form-check-label" for="flexRadioDefault1">
            Make Suggestions. Price changes aproved mannualy.
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault2" [value]='true' name="setting_flag" formControlName="setting_flag">
          <label class="form-check-label" for="flexRadioDefault2">
            Automatically. Price changes done by monitoring service immiediately
          </label>
        </div>
      </div>
    </div>

    <!--  -->
        

      </div>

      <div class="col-lg-6 mt-3">
        <p>Should price changes be done automatically or male suggestions
          for you to approve?</p>
      </div>

    </div>

    <div class="row ms-2">

      <div class="col-lg-3 mt-3">
        <h6 class="font-weight-bold">Strategy</h6>
      </div>

      <div class="col-lg-3 mt-3">
        <p style="font-family: italic;">Match cheapest with same price</p>
        <button class="SettingsBtn" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample"><b>Change Settings</b></button>
      </div>

      <!--  -->
    <div class="collapse" id="collapseExample1">
      <div class="card card-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" id="flexRadioDefault1" value='match_cheapest' name="strategy_selector" formControlName="strategy_selector">
          <label class="form-check-label" for="flexRadioDefault1">
              Match cheapest with same price
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" id="flexRadioDefault2" value='below_cheapest' name="strategy_selector" formControlName="strategy_selector">
          <label class="form-check-label" for="flexRadioDefault2">
              Go below cheapest with a lower price
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" id="flexRadioDefault3" value='not_cheapest' name="strategy_selector" formControlName="strategy_selector">
          <label class="form-check-label" for="flexRadioDefault3">
              Not cheapest. Add to price of cheapest competitor
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault4" value='do_nothing' name="strategy_selector" formControlName="strategy_selector">
          <label class="form-check-label" for="flexRadioDefault4">
              Do nothing - keep my prices as it is
          </label>
        </div>
      </div>
    </div>

    <!--  -->

      <div class="col-lg-6 mt-3">
        <p>How do you want to respond to competitor prices?</p>
      </div>

    </div>

    <div class="row ms-2">

      <div class="col-lg-3 mt-3">
        <h6 class="font-weight-bold">Price field and min.max restrictions</h6>
      </div>

      <div class="col-lg-3 mt-3">
        <p style="font-family: italic;">Disabled - no repricing at the moment <b class="bold-italic">Miniumum price Maximum Price</b></p>
        <button class="SettingsBtn" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample"><b>Change Settings</b></button>
      </div>

         <!--  -->
    <div class="collapse" id="collapseExample2">
      <div class="card card-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value='disabled' name="restrictions" formControlName="restrictions">
          <label class="form-check-label" for="flexRadioDefault1">
            Disabled - no repricing at the moment
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value='standard' name="restrictions" formControlName="restrictions">
          <label class="form-check-label" for="flexRadioDefault2">
            Standard/normal price
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value='special_price' name="restrictions" formControlName="restrictions">
          <label class="form-check-label" for="flexRadioDefault3">
            Special price (compare at price)
          </label>
        </div>
      </div>
    </div>

    <!--  -->

      <div class="col-lg-6 mt-3">
        <p>We currently support updating the new price into special price and
          standard price. If there is a date from or date to on the special price,
          it is assumed you are running your own campaign and it will not be
          adjusted by the repricing robot.</p>
      </div>

    </div>
    
    <div class="row ms-2">

      <div class="col-lg-3 mt-3">
        <h6 class="font-weight-bold">Competitors without stock</h6>
      </div>

      <div class="col-lg-3 mt-3">
        <p style="font-family: italic;">Include competitors with product not in stock</p>
        <button class="SettingsBtn" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample"><b>Change Settings</b></button>
      </div>

         <!--  -->
    <div class="collapse" id="collapseExample3">
      <div class="card card-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value='Ignore' name="stock" formControlName="stock">
          <label class="form-check-label" for="flexRadioDefault1">
            Ignore competitors with product not in stock
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value='Include' name="stock" formControlName="stock">
          <label class="form-check-label" for="flexRadioDefault2">
            Include competitors with product not in stock
          </label>
        </div>
      </div>
    </div>

    <!--  -->

      

      <div class="col-lg-6 mt-3">
        <p>How do you want to respond to prices of competitors which do not
          have the product on stock? Please be aware that fetch stock information
          from competitors can be less reliable than fetching price - among others,
          because some might have delivery even when out of stock according to
          the code of a page</p>
      </div>

    </div>

    <div class="row ms-2">

      <div class="col-lg-3 mt-3">
        <h6 class="font-weight-bold">Round down price to look more nicely</h6>
      </div>

      <div class="col-lg-3 mt-3">
        <button class="SettingsBtn" data-bs-toggle="collapse" data-bs-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample"><b>Change Settings</b></button>
      </div>

         <!--  -->
    <div class="collapse" id="collapseExample4">
      <div class="card card-body">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" value='25' name="rounddownprice" formControlName="rounddownprice">
          <label class="form-check-label" for="flexRadioDefault1">
            to 25 cents (xx.00, xx.25, xx.50, xx.75)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault2" value='95' name="rounddownprice" formControlName="rounddownprice">
          <label class="form-check-label" for="flexRadioDefault2">
            to 95 cents (xx.95)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault3" value='99' name="rounddownprice" formControlName="rounddownprice">
          <label class="form-check-label" for="flexRadioDefault3">
            to 99 cents (xx.99)
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input mt-2" type="radio" name="flexRadioDefault" id="flexRadioDefault4" value='00' name="rounddownprice" formControlName="rounddownprice">
          <label class="form-check-label" for="flexRadioDefault4">
            to 00 cents (xx.00)
          </label>
        </div>
      </div>
    </div>

    <!--  -->

      <div class="col-lg-6 mt-3">
        <p>A price that is only calculated by a robot might not look nice - such
          as 100.12. You can choose one or more rounding options to fix that.
          If you choose several, then the nearest rounding options will be used.</p>
      </div>

    </div>

    <div class="row ms-2">

      <div class="col-lg-3 mt-3">
        <h6 class="font-weight-bold">Filter products</h6>
      </div>

      <div class="col-lg-3 mt-3">
        <button class="SettingsBtn" data-bs-toggle="collapse" data-bs-target="#collapseExample5" aria-expanded="false" aria-controls="collapseExample"><b>Change Settings</b></button>
      </div>

         <!--  -->
    <div class="collapse" id="collapseExample5">
      <div class="card card-body">
          <h5 class="col-lg-12 mt-2"><b>Filter products</b></h5>
          <div class="row ms-3">
            <div class="form-check">
              <input class="form-check-input" type="radio"  id="flexRadioDefault1"  value='byproducts'  formControlName="filterproductrules">
              <label class="form-check-label" for="flexRadioDefault1">
                By favorite products
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault2" value='bybrands'  formControlName="filterproductrules">
              <label class="form-check-label" for="flexRadioDefault2">
                By favorite brands
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault3" value='bycategories'  formControlName="filterproductrules">
              <label class="form-check-label" for="flexRadioDefault3">
                By favorite categories
              </label>
            </div>
          </div>
  
          <h5 class="col-lg-12 mt-3"><b>Matching criteria</b></h5>
          <div class="row ms-3">
            <div class="form-check">
              <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault4" value='any'  formControlName="matchingcriteria">
              <label class="form-check-label mt-1" for="flexRadioDefault">
                Any
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault5" value='all'  formControlName="matchingcriteria">
              <label class="form-check-label mt-1" for="flexRadioDefault">
                All
              </label>
            </div>
          </div>
  
          <h5 class=" col-lg-12 mt-3"><b>Use only favorite competitors on repricing</b></h5>
          <div class="row ms-3">
            <div class="form-check">
              <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault" value='yes'  formControlName="fvtcompetitors">
              <label class="form-check-label mt-1" for="flexRadioDefault">
                Yes
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input mt-2" type="radio"  id="flexRadioDefault7" value='no'  formControlName="fvtcompetitors">
              <label class="form-check-label mt-1" for="flexRadioDefault7">
                No
              </label>
            </div>
          </div>
          <h5 class="col-lg-12 mt-3"><b>Filter products by Brands</b></h5>
          <input type="rule"  class="form-control col-lg-4 ms-2"  id="filterbrands"  formControlName="filterbrands">
  
          <h5 class="col-lg-12 mt-4"><b>Filter products by Category</b></h5>
          <input type="rule"  class="form-control col-lg-4 ms-2"  id="filtercategory"  formControlName="filtercategory">
  
         
      </div>
    </div>

    <!--  -->

    <div class="mb-3">
      <button class="btn btn-primary float-end m-2 btn-md btnnewbtn col-2" style="border-radius: 20px;" (click)="SaveSettings()">
        Save Settings
      </button>
    </div>

    </div>
   

  </div>
</form>

</div>
