.TopContainer {
  margin-top: -40px;
}

.btn {
  background-color: #DEEBF9;
  color: #124274;
}



.btnbtn {
  background-color: #F45151 !important;
  color: white;
}

.btnbtn:hover {
  background-color: #124274 !important;
  color: white;
}

.btnnewbtn {
  background-color: #124274 !important;
  color: white;
}

.btnnewbtn:hover {
  background-color: black !important;
  color: white;
}

h5, h6, p {
  color: #124274;
}

.TableDiv {
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
}

.tableStyle {
  background-color: #EDF5FF;
  border-radius: 10px;
  font-size: 90%;
}

table th:first-child {
  border-radius: 10px 0 0 0;
}

table th:last-child {
  border-radius: 0 10px 0 0;
}

table th {
  color: #124274;
}

thead {
  background-color: #C7DEF5;
}

.tablebtn {
  background-color: #C7DEF5 !important;
}

.tablebtn:hover {
  background-color: #184777 !important;
}

.btntable {
  background-color: #EDF5FF !important;
}

.tablebtnSecondary {
  background-color: #4A82BC !important;
  color: white;
}

.tablebtnSecondary:hover {
  color: #184777 !important;
  background-color: #C7DEF5 !important;
}

td,
tr {
  text-align: center;
  border-bottom: solid 2px #C7DEF5;
}

.CardBodySection {
  background-color: #E5EEF8;
  border-radius: 9px;
}

.form-select {
  border-radius: 30px;
  background-color: #D7E8FB;
  border: 1px solid #184777;
}

.collapseDiv {
  width: 20%;
  border-radius: 9px;
  position: fixed;
}

.FormBtn {
  border-radius: 24px;
  background-color: #124274 !important;
  color: white;
  width: 35% !important;
}

.TableDiv {
  background-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 1px;
  overflow: auto;
  height: 73vh;
}

.form-control{
    border-radius: 53px;
    background-color: #DEEBF9;
}

.length{
    width: 100px;
    text-align: center;
    color: #124274;
    font-weight: bold;
}

.bold-italic{
  font-weight:bold !important;
}

.SettingsBtn{
  border: none;
  background-color: #FFFFFF;
  color: #124274;
  margin-left: -5px;
}