<div class="col-md-3 mb-2 ">

    <div class="row" style="margin-top: -8vh; width: 70vh;">
  
      <div class="col-md-4">
          <img class="rounded-circle ms-3 shadow-lg" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
        style="height: 90px; width: 90px;">
      </div>
  
      <div class="col-md-8 mt-3">
          <h3>Welcome Back, Kenneth!</h3>
      </div>
      
    </div>
  
  </div>
  
  <div class="container mt-5">
    <div class="row">
  
      <div class="col-xl-3 col-lg-6 mb-3">
        <div class="bg-white rounded-lg shadow p-2">
          <h2 class="h6 font-weight-bold text-center mb-3 mt-2"><b>Products Monitored</b></h2>
  
          <!-- Progress bar 1 -->
          <div class="progress mx-auto mb-3" data-value='1396'>
            <span class="progress-left">
              <span class="progress-bar border-primary"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar border-primary"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h5 font-weight-bold m-1">1396</div>
            </div>
          </div>
          <!-- END -->
  
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-6 mb-3">
        <div class="bg-white rounded-lg p-2 shadow">
          <h2 class="h6 font-weight-bold text-center mb-3 mt-2"><b>Competitors</b></h2>
  
          <!-- Progress bar 1 -->
          <div class="progress mx-auto mb-3" data-value='249'>
            <span class="progress-left">
              <span class="progress-bar border-info"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar border-warning"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h5 font-weight-bold m-1">249</div>
            </div>
          </div>
          <!-- END -->
  
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-6 mb-3">
        <div class="bg-white rounded-lg p-2 shadow">
          <h2 class="h6 font-weight-bold text-center mb-3 mt-2"><b>%Cheapest</b></h2>
  
          <!-- Progress bar 1 -->
          <div class="progress mx-auto mb-3" data-value='4.52'>
            <span class="progress-left">
              <span class="progress-bar border-info"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar border-success"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h5 font-weight-bold m-1">4.52</div>
            </div>
          </div>
          <!-- END -->
  
        </div>
      </div>
  
      <div class="col-xl-3 col-lg-6 mb-3">
        <div class="bg-white rounded-lg p-2 shadow">
          <h2 class="h6 font-weight-bold text-center mb-3 mt-2"><b>%Highest</b></h2>
  
          <!-- Progress bar 1 -->
          <div class="progress mx-auto mb-3" data-value='18.25'>
            <span class="progress-left">
              <span class="progress-bar border-info"></span>
            </span>
            <span class="progress-right">
              <span class="progress-bar border-info"></span>
            </span>
            <div class="progress-value w-100 h-100 rounded-circle d-flex align-items-center justify-content-center">
              <div class="h5 font-weight-bold m-1">18.26</div>
            </div>
          </div>
          <!-- END -->
  
        </div>
      </div>
    </div>
  
  </div>  