<div class="container">

  <!-- Top Section of My Account -->
  <div class="TopContainer ms-5 mb-5">
    <h3 class="font-weight-bold">My Account</h3>
  </div>

  <div class="row">

    <!-- Profile Image -->
    <div class="col-lg-4 d-flex justify-content-end">
      <img class="rounded-circle shadow-lg grow" src="https://mdbootstrap.com/img/Photos/Avatars/img%20(31).jpg"
        style="height: 180px; width: 180px;">
    </div>

    <!-- Account Details -->
    <div class="col-lg-4 mt-4">
        <div class="row">
            <h3>User Name</h3>
            <h5>Access Type</h5>
        </div>

        <div class="row mt-4">
            <span>
                <b>Email: </b>Kenneth@gmail.com
            </span>
            <span>
                <b>Phone: </b>0000 0000 000
            </span>
        </div>

        <div class="row mt-2 mb-2">
            <svg width="661" height="2" viewBox="0 0 661 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1H661" stroke="black" stroke-width="0.5"/>
                </svg>         
        </div>

        <div class="row">
            <span>
                <b>Zip Code: </b>12345
            </span>
            <span>
                <b>City: </b>City Name
            </span>
            <span>
                <b>State: </b>State Name
            </span>
            <span>
                <b>Country: </b>Country Name
            </span>
            <span>
                <b>Address: </b>Address Details
            </span>
        </div>

        <div class="row mt-2 mb-2">
            <svg width="661" height="2" viewBox="0 0 661 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1H661" stroke="black" stroke-width="0.5"/>
                </svg>         
        </div>

        <div class="row">
            <span>
                <b>Admin Email: </b>Admin Mail
            </span>
            <span>
                <b>Billing Email: </b>Billing Mail
            </span>
        </div>

        <div class="row mt-2 mb-2">
            <svg width="661" height="2" viewBox="0 0 661 2" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 1H661" stroke="black" stroke-width="0.5"/>
                </svg>         
        </div>

        <div class="row">
            <span>
                <b>Company Name: </b>Company Name Here
            </span>
            <span>
                <b>Company Number: </b>0000 0000 000
            </span>
        </div>

    </div>

    <!-- Edit Icon -->
    <div class="col-lg-4 mt-2 editicon">
        <button type="button" class="img-thumbnail grow">
            <svg width="50" height="50" viewBox="0 0 78 78" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="39" cy="39" r="38.5" stroke="#184777"/>
                <path d="M24 47.7509V54H30.2491L48.6799 35.5692L42.4308 29.3201L24 47.7509ZM53.5126 30.7366C54.1625 30.0867 54.1625 29.0368 53.5126 28.3869L49.6131 24.4874C48.9632 23.8375 47.9133 23.8375 47.2634 24.4874L44.2139 27.537L50.463 33.7861L53.5126 30.7366V30.7366Z" fill="#184777"/>
                </svg>
        </button>
    </div>
  </div>

</div>